<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title || "Dummy Title" %></title>

</head>
<body>
  <nav>
    <img src="/images/camera.svg">
    <a href="/performers/new"	<%- title === 'Add Performer' ? 'class="active"' : '' %>>
		ADD PERFORMER</a>
    <a href="/tvshows/new" <%- title === 'Add tvshow' ? 'class="active"' : '' %>>ADD tvshow</a>
    <a href="/tvshows" <%- title === 'All tvshows' ? 'class="active"' : '' %>>ALL tvshowS</a>
  </nav>
  <main>
    <h1><%= title %></h1>