<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title || "Dummy Title" %></title>
</head>
<body>
  <nav>
    <!-- Site title or logo -->
    <div class="site-logo">
      <img src="/images/little tv.png" alt="Site logo">
      <h2>TV Show Central</h2> <!-- You can replace this with your site's title -->
    </div>
    
    <!-- Navigation links -->
    <div class="nav-links">
      <a href="/actors/new" <%- title === 'Add actor' ? 'class="active"' : '' %>>Add Actor</a>
      <a href="/tvshows/new" <%- title === 'Add tvshow' ? 'class="active"' : '' %>>Add TV Show</a>
      <a href="/tvshows" <%- title === 'All tvshows' ? 'class="active"' : '' %>>Browse TV Shows</a>
    </div>
  </nav>
  
  <main>
    <h1><%= title %></h1>
    <!-- ... rest of your content ... -->
  </main>
</body>
</html>
